*.log
*.jou
*.str

ProjetoPCID.cache/*
ProjetoPCID.runs/*
ProjetoPCID.hw/*
ProjetoPCID.sim/*
ProjetoPCID.ip_user_files/*
.Xil/*

# =========================
# Operating System Files
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini